@model PissanoApp.Models.Movimiento

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Movimiento</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.movimientoId)

        <div class="form-group">
            @Html.LabelFor(model => model.tipoMovimientoId, "tipoMovimientoId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("tipoMovimientoId", String.Empty)
                @Html.ValidationMessageFor(model => model.tipoMovimientoId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.materialNivelStockId, "materialNivelStockId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("materialNivelStockId", String.Empty)
                @Html.ValidationMessageFor(model => model.materialNivelStockId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cantidad, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cantidad)
                @Html.ValidationMessageFor(model => model.cantidad)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usuarioSolicitante, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usuarioSolicitante)
                @Html.ValidationMessageFor(model => model.usuarioSolicitante)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.partidaId, "partidaId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("partidaId", String.Empty)
                @Html.ValidationMessageFor(model => model.partidaId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.comentario, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.comentario)
                @Html.ValidationMessageFor(model => model.comentario)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usuarioCreacion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usuarioCreacion)
                @Html.ValidationMessageFor(model => model.usuarioCreacion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usuarioModificacion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usuarioModificacion)
                @Html.ValidationMessageFor(model => model.usuarioModificacion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fechaCreacion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaCreacion)
                @Html.ValidationMessageFor(model => model.fechaCreacion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fechaModificacion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaModificacion)
                @Html.ValidationMessageFor(model => model.fechaModificacion)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
