@model PissanoApp.Models.ArchivoTelecredito

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ArchivoTelecredito</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ruta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ruta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuarioCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarioCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCreacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.archivoTelecreditoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
