@model PissanoApp.Models.Material

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Estás seguro que deseas eliminar?. Solo se eliminarán materiales que no tengan Requerimientos ni OC, o familias que no tengan hijos.</h3>
<div>
    <h4>Material</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            Código
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo)
        </dd>

        <dt>
            Unidad de Medida
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnidadMedida.nombre)
        </dd>

        <dt>
            Tipo de Material
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoMaterial.nombre)
        </dd>



        <dt>
            Material Padre o Familia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaterialPadre.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la Lista", "Index")
        </div>
    }
</div>
