@model PissanoApp.Models.Material

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Material</h4>
	<hr />
    <dl class="dl-horizontal">

        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
           Código
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo)
        </dd>

        <dt>
            Unidad de Medida
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnidadMedida.nombre)
        </dd>

        <dt>
            Tipo de Material
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoMaterial.nombre)
        </dd>



        <dt>
           Material Padre o Familia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaterialPadre.nombre)
        </dd>



       

        

    </dl>
</div>
<p>
    
    @Html.ActionLink("Editar", "Edit", new { id = Model.materialId }) |
    @Html.ActionLink("Volver a la Lista", "Index")
</p>
