@model IEnumerable<PissanoApp.Models.Material>

@{
    ViewBag.Title = "Inventario";
}

<h2>Inventario</h2>

<p>
    
</p>
<table class="table table-striped table-bordered table-hover dataTables-example">
    <thead>
        <tr>
            <th>
                Nombre Material
                @*@Html.DisplayNameFor(model => model.MaterialPadre.nombre)*@
            </th>
            <th>
                codigo
                @*@Html.DisplayNameFor(model => model.codigo)*@
            </th>
            
            <th>
                Unidad de Medida
                @*@Html.DisplayNameFor(model => model.UnidadMedida.nombre)*@
            </th>
            <th>
                Familia
                @*@Html.DisplayNameFor(model => model.nombre)*@
            </th>
            <th>
                Obra
            </th>
            <th>
                En Stock
            </th>
            <th>
                En Espera
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnidadMedida.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaterialPadre.nombre)
                </td>

                <td>
                    @if (item.MaterialNivelStocks.Count() > 0)
                    {
                    @Html.DisplayFor(modelItem => item.MaterialNivelStocks[0].Almacen.Obra.nombre)
                    }
                    else if (item.OrdenCompraDetalles.Count() > 0)
                    {                        
                        @Html.DisplayFor(modelItem => item.OrdenCompraDetalles[0].OrdenCompra.Obra.nombre)
                    }
                </td>

                <td>
                    @if (item.MaterialNivelStocks.Count() > 0)
                    {
                        var sum = item.MaterialNivelStocks.Sum(survey => survey.cantidad);

                        @Html.Label(sum.ToString());
                    }

                    else
                    {
                        @Html.Label("0");
                    }
                    
                </td>

                <td>
                    @if (item.OrdenCompraDetalles.Count() > 0)
                    {
                        var sum = item.OrdenCompraDetalles.Sum(survey => survey.cantidad);

                        @Html.Label(sum.ToString());
                    }

                    else
                    {
                        @Html.Label("0");
                    }

                </td>
            </tr>
        }
    </tbody>
</table>



@section Styles {

    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {

    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/jeditable")

    <script type="text/javascript">
        $(document).ready(function () {



            $('.dataTables-example').DataTable({
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ],

                "order": [[0, "desc"]]

            });




        });

    </script>
}