@{
    ViewBag.Title = "Main";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    @ViewData["SubTitle"]
                </h1>
                <small>@ViewData["Message"]</small>
            </div>
        </div>
    </div>

    <br />
    <br />

    <div class="row">
        <div class="col-lg-8">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Proceso de Compra en el Sistema Logístico</small></h5>
                </div>
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="badge badge-warning">1</span> Requerimiento
                                </div>
                                <div class="panel-body">
                                    <p>Este proceso lo realiza el Ingeniero de Campo. Aquí se crean los requerimientos de Materiales que la Obra requiera.</p>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <span class="badge badge-warning">2</span> Aprobación de Requerimiento
                                </div>
                                <div class="panel-body">
                                    <p>Este proceso lo realiza el Ingeniero Residente. Aquí se aprueban los requerimientos solicitados en el paso 1.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <span class="badge badge-warning">3</span> Cotización y Generación de Orden de Compra
                                </div>
                                <div class="panel-body">
                                    <p>Este proceso lo realiza el área de Logística. Aquí se realizan las Cotizaciones y se Emiten las Ordenes de Compra</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <span class="badge badge-warning">4</span> Aprobación 1 de Orden de Compra
                                </div>
                                <div class="panel-body">
                                    <p>Este proceso lo realiza el Ingeniero Residente. Aquí se realiza la Primera Aprobación de la Orden de Compra.</p>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <span class="badge badge-warning">5</span> Aprobación 2 de Orden de Compra
                                </div>
                                <div class="panel-body">
                                    <p>Este proceso lo realiza la Jefatura de Proyecto. Aquí se realiza la Segunda Aprobación de la Orden de Compra.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <span class="badge badge-warning">6</span> Aprobación 3 de Orden de Compra
                                </div>
                                <div class="panel-body">
                                    <p>Este proceso lo realiza la Gerencia. Aquí se realiza la Tercera y Última Aprobación de la Orden de Compra.</p>
                                </div>
                                @*<div class="panel-footer">
                Panel Footer
            </div>*@
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <span class="badge badge-warning">7</span> Envío de Orden de Compra a Proveedor
                                </div>
                                <div class="panel-body">
                                    <p>Este proceso lo realiza el área de Logística. Aquí se realiza el envío de la Orden de Compra al Proveedor</p>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <span class="badge badge-warning">8</span> Ingreso de Orden de Compra al Almacén
                                </div>
                                <div class="panel-body">
                                    <p>Este proceso lo realiza el Encargado de Almacén. Aquí se realiza el registro de la entrega de la Orden de Compra</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <span class="badge badge-warning">9</span> Ingreso de Factura
                                </div>
                                <div class="panel-body">
                                    <p>Este proceso lo realiza el área de Contabilidad . Aquí se realiza el registro de la Factura correspondiente a la Orden de Compra</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Actualizaciones</h5>
                    <div class="ibox-tools">
                        <span class="label label-warning-light">19 Actualizaciones</span>
                    </div>
                </div>
                <div class="ibox-content">

                    <div>
                        <div class="feed-activity-list">
                            <div class="feed-element">
                                <div class="media-body ">
                                    @*<small class="pull-right">Hace 1hr</small>*@
                                    <strong>19. Tracking de Req </strong>
                                    Se puede visualizar el estado actual de un requerimiento.
                                    <br>
                                    <small class="text-muted">Publicado el viernes 14.07.2017</small>

                                </div>
                            </div>
                            <div class="feed-element">
                                <div class="media-body ">
                                    @*<small class="pull-right">Hace 1hr</small>*@
                                    <strong>18. Código de Materiales </strong>
                                    Los códigos de los Materiales se generan automáticamente por el Sistema de acuerdo a la Familia a la que perteneces.
                                    <br>
                                    <small class="text-muted">Publicado el martes 11.07.2017</small>

                                </div>
                            </div>
                            <div class="feed-element">
                                <div class="media-body ">
                                    @*<small class="pull-right">Hace 1hr</small>*@
                                    <strong>17. Filtros en Búsquedas </strong>
                                    Se pueden filtrar por diversos criterios en diversas pantallas del Sistema.
                                    <br>
                                    <small class="text-muted">Publicado el lunes 03.07.2017</small>

                                </div>
                            </div>
                            <div class="feed-element">
                                <div class="media-body ">
                                    @*<small class="pull-right">Hace 1hr</small>*@
                                    <strong>16. Valorizaciones </strong>
                                    Se puede realizar Valorizaciones por monto.
                                    <br>
                                    <small class="text-muted">Publicado el lunes 03.07.2017</small>

                                </div>
                            </div>
                            <div class="feed-element">
                                <div class="media-body ">
                                    @*<small class="pull-right">Hace 1hr</small>*@
                                    <strong>15. Contrato de Compras y Servicios </strong>
                                    Se puede ingresar los datos de Contratos de Compras Grandes y Servicios.
                                    <br>
                                    <small class="text-muted">Publicado el lunes 03.07.2017</small>

                                </div>
                            </div>
                            <div class="feed-element">
                                <div class="media-body ">
                                    @*<small class="pull-right">Hace 1hr</small>*@
                                    <strong>14. Analisis General y Detallado de Compras y Contrataciones </strong>
                                    Se puede ver reportes Generales y Detallados (Explotado) de todas las compras y contrataciones realizados en el Sistema.
                                    <br>
                                    <small class="text-muted">Publicado el lunes 03.07.2017</small>

                                </div>
                            </div>
                            <div class="feed-element">
                                <div class="media-body ">
                                    @*<small class="pull-right">Hace 1hr</small>*@
                                    <strong>13. Movimientos en Almacén </strong>
                                    Se puede registrar el movimiento desde y hacia el Almacén. Asimismo es posible ver reportes de Movimientos
                                    <br>
                                    <small class="text-muted">Publicado el lunes 03.07.2017</small>

                                </div>
                            </div>
                            <div class="feed-element">
                                <div class="media-body ">
                                    @*<small class="pull-right">Hace 1hr</small>*@
                                    <strong>12. Contabilidad </strong>
                                    Se puede registrar Pago y Ver reporte de Contabilidad.
                                    <br>
                                    <small class="text-muted">Publicado el lunes 03.07.2017</small>

                                </div>
                            </div>
                            <div class="feed-element">
                                <div class="media-body ">
                                    @*<small class="pull-right">Hace 1hr</small>*@
                                    <strong>11. Anulación de Requerimiento </strong>
                                    Se puede anular un requerimiento que no haya sido aprobado.
                                    <br>
                                    <small class="text-muted">Publicado el lunes 03.07.2017</small>

                                </div>
                            </div>
                            <div class="feed-element">
                                <div class="media-body ">
                                    @*<small class="pull-right">Hace 1hr</small>*@
                                    <strong>10. Adjuntar y Visualizar Cotizaciones de OC </strong>
                                    Se puede adjuntar Cotizaciones en cualquier formato. Pdf, excel, etc.
                                    <br>
                                    <small class="text-muted">Publicado el miércoles 14.06.2017</small>

                                </div>
                            </div>
                            <div class="feed-element">
                                <div class="media-body ">
                                    @*<small class="pull-right">Hace 1hr</small>*@
                                    <strong>9. Aprobaciones Ingenieros Residentes  </strong> Solo se visualizan las OC asociadas a la Obra del Ing. Residente <br>
                                    <small class="text-muted">Publicado el miércoles 14.06.2017</small>

                                </div>
                            </div>
                            <div class="feed-element">
                                <div class="media-body ">
                                    @*<small class="pull-right">Hace 1hr</small>*@
                                    <strong>8. Calculadora para OC</strong> Se cuenta con una calculadora durante la creación de OC <br>
                                    <small class="text-muted">Publicado el viernes 09.06.2017</small>

                                </div>
                            </div>
                            <div class="feed-element">
                                <div class="media-body ">
                                    @*<small class="pull-right">Hace 1hr</small>*@
                                    <strong>7. Gestión de Inventario</strong> Se permite el Ingreso de OC a Almacén de Obra <br>
                                    <small class="text-muted">Publicado el viernes 09.06.2017</small>

                                </div>
                            </div>
                            <div class="feed-element">
                                <div class="media-body ">
                                    @*<small class="pull-right">Hace 1hr</small>*@
                                    <strong>6. Rechazar Orden de Compra</strong> Se permite rechazar una OC por parte de las Instancias Aprobadoras. Asimismo se puede agregar y visualizar el(los) motivos de rechazo <br>
                                    <small class="text-muted">Publicado el miércoles 31.05.2017</small>

                                </div>
                            </div>
                            <div class="feed-element">
                                <div class="media-body ">
                                    @*<small class="pull-right">Hace 1hr</small>*@
                                    <strong>5. Modificación de Orden de Compra</strong> mientras se encuentren no aprobadas. <br>
                                    <small class="text-muted">Publicado el lunes 29.05.2017</small>

                                </div>
                            </div>

                            <div class="feed-element">
                                <div class="media-body ">
                                    @*<small class="pull-right">Hace 1hr</small>*@
                                    <strong>4. Modificación de Requerimientos</strong> mientras se encuentren no aprobadas. <br>
                                    <small class="text-muted">Publicado el lunes 22.05.2017</small>

                                </div>
                            </div>

                            <div class="feed-element">
                                @*<a href="@Url.Action("Profile", "AppViews")" class="pull-left">
                                    <img alt="image" class="img-circle" src="~/Images/a2.jpg">
                                </a>*@
                                <div class="media-body ">
                                    @*<small class="pull-right">2h ago</small>*@
                                    <strong>3.	Las Aprobaciones de Requerimientos </strong> pueden ser ahora  ítem por ítem <br>
                                    <small class="text-muted">Publicado el lunes 22.05.2017</small>
                                </div>
                            </div>
                            <div class="feed-element">
                                @*<a href="@Url.Action("Profile", "AppViews")" class="pull-left">
                                    <img alt="image" class="img-circle" src="~/Images/a3.jpg">
                                </a>*@
                                <div class="media-body ">
                                    @*<small class="pull-right">2h ago</small>*@
                                    <strong>2. Aprobaciones</strong> mantienen en su bandeja las aprobaciones realizadas. <br>
                                    <small class="text-muted">Publicado el lunes 22.05.2017</small>
                                </div>
                            </div>
                            
                            <div class="feed-element">
                                @*<a href="@Url.Action("Profile", "AppViews")" class="pull-left">
                                    <img alt="image" class="img-circle" src="~/Images/a5.jpg">
                                </a>*@
                                <div class="media-body ">
                                    @*<small class="pull-right">2h ago</small>*@
                                    <strong>1. Formatos de Número de Orden de Compra</strong> son generadas de la sgte manera: <br>
                                    <small class="text-muted">Publicado el lunes 22.05.2017</small>
                                    <div class="well">
                                        El formato de O/C es el siguiente: OC-correlativo-identificadorde obra. Ejemplo: OC-00001–001, OC-00002–001,  OC-00003–002, OC-00004–001 siendo 001 identificador de Barcelona y 002 de San Borja.                        
                                    </div>
                                    @*<div class="pull-right">
                                        <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                                    </div>*@
                                </div>
                            </div>

                        </div>

                        @*<button class="btn btn-primary btn-block m-t"><i class="fa fa-arrow-down"></i> Show More</button>*@

                    </div>

                </div>
            </div>

        </div>

    </div>

</div>