@model PissanoApp.ViewModels.PresupuestoTitulosViewModel

@{
    ViewBag.Title = "Create";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Organización de Títulos</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Presupuesto")">Presupuesto</a>
            </li>
            <li class="active">
                <strong>Lista de Títulos</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-md-4">
            <div id="nestable-menu">
                <button type="button" data-action="expand-all" class="btn btn-white btn-sm">Expandir Todo</button>
                <button type="button" data-action="collapse-all" class="btn btn-white btn-sm">Minimizar Todo</button>
                <button type="button" class="btn" id="execute">Guardar Datos</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Títulos</h5>
                </div>
                <div class="ibox-content">

                    <p class="m-b-lg">
                        <strong>Títulos y Subtítulos: </strong> Arme de manera iterativa la Jerarquía de Títulos y Subtítulos del Presupuesto de su Obra. Ud puede arrastrar y soltar para reordenar la Jerarquía.
                    </p>

                    <div class="dd" id="nestable">
                        <ol class="dd-list">

                            @foreach (var item in Model.Titulos)
                                {
                                    <li class="dd-item" data-id=@Html.DisplayFor(modelItem => item.tituloId)>
                                        <div class="dd-handle">@Html.DisplayFor(modelItem => item.nombre)</div>
                                    </li>

                                }

                            @*<li class="dd-item" data-id="1">
                                <div class="dd-handle">1 - Lorem ipsum</div>
                            </li>
                            <li class="dd-item" data-id="2">
                                <div class="dd-handle">2 - Dolor sit</div>
                                <ol class="dd-list">
                                    <li class="dd-item" data-id="3">
                                        <div class="dd-handle">3 - Adipiscing elit</div>
                                    </li>
                                    <li class="dd-item" data-id="4">
                                        <div class="dd-handle">4 - Nonummy nibh</div>
                                    </li>
                                </ol>
                            </li>
                            <li class="dd-item" data-id="5">
                                <div class="dd-handle">5 - Consectetuer</div>
                                <ol class="dd-list">
                                    <li class="dd-item" data-id="6">
                                        <div class="dd-handle">6 - Aliquam erat</div>
                                    </li>
                                    <li class="dd-item" data-id="7">
                                        <div class="dd-handle">7 - Veniam quis</div>
                                    </li>
                                </ol>
                            </li>
                            <li class="dd-item" data-id="8">
                                <div class="dd-handle">8 - Tation ullamcorper</div>
                            </li>
                            <li class="dd-item" data-id="9">
                                <div class="dd-handle">9 - Ea commodo</div>
                            </li>*@
                        </ol>
                    </div>


                    <div class="m-t-md">
                        <h5>Serialised Output</h5>
                    </div>
                    <textarea id="nestable-output" class="form-control"></textarea>

                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Jerarquía de Títulos por Sub Presupuesto</h5>
                </div>
                <div class="ibox-content">

                    <p class="m-b-lg">
                        Jerarquía de Títulos y Subtítulos del Presupuesto de su Obra
                    </p>

                    <div class="dd" id="nestable2">


                        <ol class="dd-list">

                            @foreach (var item in Model.SubPresupuestos)
                            {
                                <li class="dd-item" data-id=@Html.DisplayFor(modelItem => item.subPresupuestoId)>
                                    <div class="dd-handle">
                                    <span class="label label-warning"><i class="fa fa-cog"></i></span>@Html.DisplayFor(modelItem => item.nombre)
                                    
                                    </div>
                                </li>

                            }


                            @*<li class="dd-item" data-id="1">
                                <div class="dd-handle">
                                    <span class="label label-info"><i class="fa fa-users"></i></span>ESTRUCTURAS
                                </div>
                                <ol class="dd-list">
                                    <li class="dd-item" data-id="2">
                                        <div class="dd-handle">
                                            <span class="pull-right"> 12:00 pm </span>
                                            <span class="label label-info"><i class="fa fa-cog"></i></span> Vivamus vestibulum nulla nec ante.
                                        </div>
                                    </li>
                                    <li class="dd-item" data-id="3">
                                        <div class="dd-handle">
                                            <span class="pull-right"> 11:00 pm </span>
                                            <span class="label label-info"><i class="fa fa-bolt"></i></span> Nunc dignissim risus id metus.
                                        </div>
                                    </li>
                                    <li class="dd-item" data-id="4">
                                        <div class="dd-handle">
                                            <span class="pull-right"> 11:00 pm </span>
                                            <span class="label label-info"><i class="fa fa-laptop"></i></span> Vestibulum commodo
                                        </div>
                                    </li>
                                </ol>
                            </li>

                            <li class="dd-item" data-id="5">
                                <div class="dd-handle">
                                    <span class="label label-warning"><i class="fa fa-cog"></i></span>ARQUITECTURA
                                </div>
                                <ol class="dd-list">
                                    <li class="dd-item" data-id="6">
                                        <div class="dd-handle">
                                            <span class="pull-right"> 15:00 pm </span>
                                            <span class="label label-warning"><i class="fa fa-bolt"></i></span> Nam convallis pellentesque nisl.
                                        </div>
                                    </li>
                                    <li class="dd-item" data-id="7">
                                        <div class="dd-handle">
                                            <span class="pull-right"> 16:00 pm </span>
                                            <span class="label label-warning"><i class="fa fa-bomb"></i></span> Vivamus molestie gravida turpis
                                        </div>
                                    </li>
                                    <li class="dd-item" data-id="8">
                                        <div class="dd-handle">
                                            <span class="pull-right"> 21:00 pm </span>
                                            <span class="label label-warning"><i class="fa fa-child"></i></span> Ut aliquam sollicitudin leo.
                                        </div>
                                    </li>
                                </ol>
                            </li>



                            <li class="dd-item" data-id="9">
                                <div class="dd-handle">
                                    <span class="label label-info"><i class="fa fa-bolt"></i></span>IISS (Instalaciones Sanitarias)
                                </div>
                               
                            </li>

                            <li class="dd-item" data-id="13">
                                <div class="dd-handle">
                                    <span class="label label-warning"><i class="fa fa-bomb"></i></span>IIEE (Instalaciones Eléctricas)
                                </div>

                            </li>


                            <li class="dd-item" data-id="17">
                                <div class="dd-handle">
                                    <span class="label label-info"><i class="fa fa-laptop"></i></span>Instalaciones Mecánicas
                                </div>

                            </li>


                            <li class="dd-item" data-id="21">
                                <div class="dd-handle">
                                    <span class="label label-warning"><i class="fa fa-child"></i></span>Gastos Generales
                                </div>

                            </li>*@

                        </ol>
                    </div>
                    <div class="m-t-md">
                        <h5>Serialised Output</h5>
                    </div>
                    <textarea id="nestable2-output" class="form-control"></textarea>


                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/plugins/nestable")

    <script type="text/javascript">
        $(document).ready(function () {

            var updateOutput = function (e) {
                var list = e.length ? e : $(e.target),
                        output = list.data('output');
                
                if (window.JSON) {
                    output.val(window.JSON.stringify(list.nestable('serialize')));//, null, 2));

                    //alert(window.JSON.stringify(list.nestable('serialize')));



                } else {
                    output.val('JSON browser support required for this demo.');
                }
            };
            // activate Nestable for list 1
            $('#nestable').nestable({
                group: 1
            }).on('change', updateOutput);

            // activate Nestable for list 2
            $('#nestable2').nestable({
                group: 1
            }).on('change', updateOutput);

            // output initial serialised data
            updateOutput($('#nestable').data('output', $('#nestable-output')));
            updateOutput($('#nestable2').data('output', $('#nestable2-output')));

            $('#nestable-menu').on('click', function (e) {
                var target = $(e.target),
                        action = target.data('action');
                if (action === 'expand-all') {
                    $('.dd').nestable('expandAll');
                }
                if (action === 'collapse-all') {
                    $('.dd').nestable('collapseAll');
                }
            });


            //Save Nestable





            // Save Nestable List 2

            @*$(".updateSort").click(function (e) {
                var json = $('.dd').nestable('serialize');
                var ids = $(json).map(function () {
                    return this.id;
                }).get();
                $.ajax({
                    type: 'PUT',
                    url: '@Url.Action("UpdateOrder")',
                    data: { ids: ids }
                })
                .done(function (result) {
                    alert(result.success);
                });
            });*@





            $('#execute').click(function(){
                

                var data = $.parseJSON($('#nestable2-output').val());

                //alert(data);
                                
                var titulos = [];
               
                for (var i = 0; i < data.length; i++) {

                    var titulo = new Object();
                                        
                    if (data[i].children)
                    {

                        for (var j = 0; j < data[i].children.length; j++) {
                            var titulo = new Object();

                            titulo.tituloId = data[i].children[j].id;
                            titulo.subpresupuestoId = data[i].id;
                            titulo.presupuestoId = 1;
                            titulo.orden = j + 1;
                            titulos.push(titulo);

                            if (data[i].children[j].children) {

                                //alert("reconoció children para :" + (data[i].id) + ", la cantidad de: " + data[i].children.length);
                                for (var x = 0; x < data[i].children[j].children.length; x++) {
                                    var titulo = new Object();

                                    titulo.tituloId = data[i].children[j].children[x].id;
                                    titulo.subpresupuestoId = data[i].id;
                                    titulo.presupuestoId = 1;
                                    titulo.orden = j + 1;
                                    titulo.tituloIdPadre = data[i].children[j].id;
                                    titulos.push(titulo);

                                }

                            }
                        }

                    }

                    //titulo.tituloId = data[i].id;
                    //titulo.presupuestoId = 1;
                    //titulo.orden = i + 1;

                    //alert(titulo.orden);
                    //var val = 1;
                    //titulos.push(titulo);
                    
                }
               
                //alert(titulos);
                //alert(JSON.stringify(options));

                //alert(titulos.length);

                //var PresupuestoTitulo = { presupuestoId: 1, tituloId:1, orden:1 };
                //var PresupuestoTitulos = [{ presupuestoId: 1, tituloId: 1, orden: 1 }, { presupuestoId: 1, tituloId: 2, orden: 2 }];

                PresupuestoTitulos = JSON.stringify({ 'presupuestoTitulos': titulos });
                
                //alert(titulos.length);
                //alert(titulos[0].tituloId);

                //return;

                //alert($('#nestable2-output').val());

                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'POST',
                    url: '@Url.Action("CrearLista")',
                    data: PresupuestoTitulos
                })
                .done(function (result) {
                    alert("pasó");
                });


            });

        });

    </script>
}






