@model PissanoApp.Models.Partida

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Partida</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubPresupuesto.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubPresupuesto.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.partidaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
