@model IEnumerable<PissanoApp.Models.Pago>

@{
    ViewBag.Title = "IndexTelecrédito";
}


<h2>Generar Archivo de Pagos para Telecrédito</h2>



@*<p>

        <a href="@Url.Action("IndexAccounting", "OrdenCompra")" class="btn btn-w-m btn-primary">Crear Nuevo</a>
    </p>*@


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Todas los Pagos. Use el Filtro de Búsqueda</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>

                    </div>
                </div>


                <div class="ibox-content">


                    <div class="row">

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label" for="status">Obra</label>
                                @Html.DropDownList("col4_filter", (IEnumerable<SelectListItem>)ViewBag.obraId, "Todos", new { @class = "form-control column_filter", @data_column = "4" })

                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label" for="quantity">Orden</label>
                                <input type="text" id="col3_filter" name="col3_filter" data-column="2" value="" placeholder="Orden" class="form-control column_filter">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label" for="product_name">Proveedor</label>
                                <input type="text" id="col6_filter" name="col6_filter" data-column="5" value="" placeholder="Proveedor" class="form-control column_filter">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label" for="product_name">Moneda Cuenta</label>
                                <select name="monedaId" id="col7_filter" data-column="7" class="form-control column_filter">
                                    <option value="" selected>Todos</option>
                                    <option value="Soles">Soles</option>
                                    <option value="Dolares">Dolares</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="text-right">
                            @*<div class="form-group">*@
                            <button class="ladda-button ladda-button-demo btn btn-success" id="BtnGenerar"><i class="fa fa-money"></i> Generar Archivo Telecrédito!</button>
                            @*</div>*@
                        </div>
                    </div>
                    @*<table class="footable table table-stripped toggle-arrow-tiny " data-page-size="10">*@
                    <table class="table table-stripped table-bordered table-hover dataTables-example " data-page-size="10" id="tablaItems">

                        <thead>
                            <tr>
                                <th></th>
                                <th data-toggle="true">Id</th>
                                <th>Estado</th>
                                <th>OC</th>
                                <th>Moneda OC</th>
                                <th>Número Cuenta</th>
                                <th>Banco Cuenta</th>
                                <th>Moneda Cuenta</th>
                                <th>Obra</th>
                                <th>Proveedor</th>
                                <th>Forma Pago</th>

                                <th hidden="hidden">Total</th>
                                <th>Total OC</th>
                                <th>Fecha Programada Pago</th>
                                <th>Fecha Pago Real</th>
                                <th>Pago</th>
                                <th>Detracción</th>
                                <th>Nro Documento</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {


                                <tr>

                                    <td>
@if (item.EstadoPago.nombre != "Pago Archivo Telecredito" && item.OrdenCompra.Proveedor.CuentasBancarias.Where(a => a.cuentaDefault == true).Count() > 0)
                                        {
                                        <input type="checkbox" class="i-checks" id=@Html.DisplayFor(modelItem => item.pagoId) name="input[]">
}                                
    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.pagoId)
                                    </td>

                                    @*<td class="client-status"><span class="label label-warning">@Html.DisplayFor(modelItem => item.EstadoOrden.nombre) </span></td>*@
                                    <td class="client-status">

                                        @if (item.EstadoPago.nombre == "Pendiente de Pago")
                                        {
                                            <span class="label label-danger">@Html.DisplayFor(modelItem => item.EstadoPago.nombre) </span>
                                            @*<button type="button" class="btn btn-danger btn-xs">
                                                @Html.DisplayFor(modelItem => item.EstadoPago.nombre)
                                            </button>*@
                                        }
                                        else if (item.EstadoPago.nombre == "Pago Archivo Telecredito")
                                        {
                                            <span class="label label-primary">@Html.DisplayFor(modelItem => item.EstadoPago.nombre) </span>
                                            @*<button type="button" class="btn btn-primary btn-xs">
                                                @Html.DisplayFor(modelItem => item.EstadoPago.nombre)
                                            </button>*@
                                        }

                                        @*@if (item.OrdenCompra.EstadoOrden.nombre == "Ingreso Total")
                                            {
                                                <button type="button" class="btn btn-danger btn-xs">
                                                    @Html.DisplayFor(modelItem => item.OrdenCompra.EstadoOrden.nombre)
                                                </button>
                                            }
                                            else if (item.OrdenCompra.EstadoOrden.nombre == "Pendiente de Pago")
                                            {
                                                <button type="button" class="btn btn-warning btn-xs">
                                                    @Html.DisplayFor(modelItem => item.OrdenCompra.EstadoOrden.nombre)
                                                </button>
                                            }
                                            else if (item.OrdenCompra.EstadoOrden.nombre == "Pago Realizado")
                                            {
                                                <button type="button" class="btn btn-primary btn-xs">
                                                    @Html.DisplayFor(modelItem => item.OrdenCompra.EstadoOrden.nombre)
                                                </button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-default btn-xs">
                                                    @Html.DisplayFor(modelItem => item.OrdenCompra.EstadoOrden.nombre)
                                                </button>
                                            }*@

                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.OrdenCompra.numero)</td>
                                    <td>@Html.DisplayFor(modelItem => item.OrdenCompra.Moneda.nombre)</td>
                                    @{var cuenta = "";
                                      var banco = "";
                                      var moneda = "";

                                    if (item.OrdenCompra.Proveedor.CuentasBancarias.Where(a => a.cuentaDefault == true).Count() > 0)
                                    {
                                        cuenta = item.OrdenCompra.Proveedor.CuentasBancarias.Where(a => a.cuentaDefault == true).FirstOrDefault().numeroCuenta;
                                        banco = item.OrdenCompra.Proveedor.CuentasBancarias.Where(a => a.cuentaDefault == true).FirstOrDefault().Banco.nombre;
                                        moneda = item.OrdenCompra.Proveedor.CuentasBancarias.Where(a => a.cuentaDefault == true).FirstOrDefault().Moneda.nombre;
                                    }
                                    else
                                    {
                                        cuenta = item.OrdenCompra.Proveedor.numeroCuenta;
                                    }
                                    }
                                   
                                    <td>@cuenta</td>
                                    @{ if (banco == "")
                                         {
                                            <td><a href="~/CuentaBancaria/Create/" target="_blank">Crear Cuenta</a></td>
                                         }
                                       else
                                       {
                                           <td>@banco</td>
                                       }

                                       }
                                        
                                    
                                    <td>@moneda</td>
                                    
                                    <td>@Html.DisplayFor(modelItem => item.OrdenCompra.Obra.nombre)</td>
                                    <td>@Html.DisplayFor(modelItem => item.OrdenCompra.Proveedor.razonSocial)</td>
                                    @*<td>@Html.DisplayFor(modelItem => item.OrdenCompra.Requerimiento.TipoCompra.nombre)</td>*@
                                    <td>@Html.DisplayFor(modelItem => item.OrdenCompra.FormaPago.nombre)</td>

                                    <td hidden="hidden">@item.OrdenCompra.total</td>
                                    <td>@Html.DisplayFor(modelItem => item.OrdenCompra.total)</td>

                                    <td>@Html.DisplayFor(modelItem => item.fechaPagoProg)</td>
                                    <td>@Html.DisplayFor(modelItem => item.fechaPagoReal)</td>
                                    <td>@Html.DisplayFor(modelItem => item.pagoMonto)</td>
                                    <td>@Html.DisplayFor(modelItem => item.pagoDetraccion)</td>
                                    <td>@Html.DisplayFor(modelItem => item.numero)</td>

                                    <td>
                                        @*<a href="~/OrdenCompra/Document/@Html.DisplayFor(modelItem => item.ordenCompraId)" class="btn btn-white btn-sm"><i class="fa fa-print"></i>OC </a>*@

                                        <a href="~/OrdenCompra/Document/@Html.DisplayFor(modelItem => item.ordenCompraId)" class="btn btn-white btn-sm"><i class="fa fa-print"></i>  </a>
                                        <a href="~/OrdenCompra/Tracking/@Html.DisplayFor(modelItem => item.ordenCompraId)" data-toggle="modal" data-target="#myModalTracking" class="btn btn-white btn-sm" id="linkTracking"><i class="fa fa-binoculars"></i>  </a>
                                    </td>
                                </tr>



                            }


                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th data-toggle="true">Id</th>
                                <th>Estado</th>
                                <th>OC</th>
                                <th>Moneda OC</th>
                                <th>Número Cuenta</th>
                                <th>Banco Cuenta</th>
                                <th>Moneda Cuenta</th>
                                <th>Obra</th>
                                <th>Proveedor</th>
                                <th>Forma Pago</th>

                                <th hidden="hidden">Total</th>
                                <th>Total OC</th>
                                <th>Fecha Programada Pago</th>
                                <th>Fecha Pago Real</th>
                                <th>Pago</th>
                                <th>Detracción</th>
                                <th>Nro Documento</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>



                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal inmodal" id="myModalTracking" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-body">

            <div class="modal-content">

            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar!</button>
        </div>

    </div>
</div>

@section Styles {

    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/footableStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
}

@section Scripts {

    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/jeditable")
    @Scripts.Render("~/plugins/footable")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/chosen")

    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables-example').DataTable({
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ],
                "order": [[1, "desc"]],
                "pageLength": 25

            });


            $('.footable').footable();



            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            // Eventos de filtros

            $('input.column_filter').on('keyup click', function () {
                filterColumn($(this).attr('data-column'));
            });

            $('select.column_filter').on('onchange click', function () {
                filterColumn($(this).attr('data-column'));
            });

            //Filtro de Chosen-select
            var config = {
                '.chosen-select': {},
                '.chosen-select-deselect': { allow_single_deselect: true },
                '.chosen-select-no-single': { disable_search_threshold: 10 },
                '.chosen-select-no-results': { no_results_text: 'Oops, no encontrado!' },
                '.chosen-select-width': { width: "200%" }
                //
            }
            for (var selector in config) {
                $(selector).chosen(config[selector]);
            }


            //Tracking Modal

            $("a[data-target=#myModalTracking]").click(function (ev) {
                ev.preventDefault();
                var target = $(this).attr("href");

                // load the url and show modal on success
                $("#myModalTracking .modal-body").load(target, function () {
                    $("#myModalTracking").modal("show");
                });
            });



            $("#BtnGenerar").click(function () {

                var cells = [];

                $('#tablaItems tr').each(function () {
                    if ($(this).find("td:eq(0) input[type='checkbox']").is(":checked")) {
                        cells.push({

                            pagoId: $(this).find("td:eq(0) input[type='checkbox']").attr("id")

                        });
                    }


                });


                if (cells.length == 0) {
                    alert("Seleccione al menos un Item");
                    return;
                }

                var Pagos = [];

                for (var i = 0; i < cells.length; i++) {
                    var pago = new Object();

                    pago.pagoId = cells[i].pagoId;
                    Pagos.push(pago);

                    //alert(requerimientoDetalle.requerimientoDetalleId);
                    //alert(pedido.pedidoId);


                }

                //return;


                //var requerimiento = new Object();

                //requerimiento.requerimientoId = $("#requerimientoId").val();
                //requerimiento.Detalles = Detalles;

                PagosFinal = JSON.stringify({ 'pagos': Pagos });


                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    type: 'POST',
                    url: '@Url.Action("GenerarTelecredito")',
                    data: PagosFinal,
                    success: function (data) {
                        window.location = '@Url.Action("IndexTelecredito")';
                    },
                    error: function (result) {
                        alert(result.statusText)
                        alert('No se pudo realizar la acción solicitada');

                    }
                });
            });

        });

        function filterColumn(i) {
            $('.dataTables-example').DataTable().column(i).search(
                $('#col' + i + '_filter').val()
            ).draw();
        }

    </script>
}


