@model IEnumerable<PissanoApp.Models.Adelanto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Contrato.comentario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoAdelanto.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adelantoMonto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adelantoPorc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuarioCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuarioModificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaModificacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Contrato.comentario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoAdelanto.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adelantoMonto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adelantoPorc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuarioCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuarioModificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaModificacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.adelantoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.adelantoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.adelantoId })
        </td>
    </tr>
}

</table>
