@model IEnumerable<PissanoApp.Models.Almacen>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Obra.direccion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Obra.direccion)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.almacenId }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.almacenId }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.almacenId })
            </td>
        </tr>
    }

</table>
