@model PissanoApp.Models.OrdenCompra

@{
    ViewBag.Title = "EnterWarehouse";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ordenCompraId)
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-8">
            <h2>Ingreso de Orden de Compra</h2>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Lista Aprobaciones", "IndexApprove")
                </li>
                <li class="active">
                    <strong>Aprobación</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-4">
            <div class="title-action">
                @*<a href="#" class="btn btn-white"><i class="fa fa-pencil"></i> Editar </a>
                    <a href="#" class="btn btn-white"><i class="fa fa-check "></i> Guardar </a>*@
                <a href="~/OrdenCompra/DocumentPrint/@Html.DisplayFor(model => model.ordenCompraId)" target="_blank" class="btn btn-primary"><i class="fa fa-print"></i> Imprimir </a>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">

            @* Copiar desde aqui para print*@
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content p-xl">
                    <div class="row">
                        <div class="col-sm-6">
                            @*<h5>From:</h5>*@
                            <address>
                                <strong>@Html.DisplayFor(model => model.Obra.empresa.nombre)</strong><br>
                                RUC: @Html.DisplayFor(model => model.Obra.empresa.ruc)<br>
                                Dirección: @Html.DisplayFor(model => model.Obra.empresa.direccion)<br>
                                Lima, Perú<br>
                                <abbr title="Teléfono">T:</abbr> @Html.DisplayFor(model => model.Obra.empresa.telefono)
                            </address>
                        </div>

                        <div class="col-sm-6 text-right">
                            <h4>No. de Orden de Compra</h4>
                            <h4 class="text-navy">@Html.DisplayFor(model => model.numero)</h4>
                            <span>Proveedor:</span>
                            <address>
                                <strong>@Html.DisplayFor(model => model.Proveedor.razonSocial)</strong><br>
                                RUC: @Html.DisplayFor(model => model.Proveedor.ruc)<br>
                                Cuenta Corriente: @Html.DisplayFor(model => model.Proveedor.numeroCuenta)<br><br>
                                Dirección: @Html.DisplayFor(model => model.Proveedor.direccion)<br>
                                Lima, Perú<br>
                                <abbr title="Teléfono">T:</abbr> @Html.DisplayFor(model => model.Proveedor.telefono)<br />
                                Atención: @Html.DisplayFor(model => model.Proveedor.representanteVentas)<br />
                                No.Contacto: @Html.DisplayFor(model => model.Proveedor.movil)<br />
                                Email: @Html.DisplayFor(model => model.Proveedor.email)
                            </address>
                            <p>
                                <span><strong>Fecha Emisión:</strong> @Html.DisplayFor(model => model.fechaCreacion)</span><br />
                                <span><strong>Fecha Entrega:</strong> </span>
                            </p>
                        </div>
                    </div>

                    <div class="table-responsive m-t">
                        <table class="table invoice-table" id="tablaItems">
                            <thead>
                                <tr>
                                    <th></th>

                                    <th>Lista de Items</th>
                                    <th>Solicitado</th>
                                    <th>Ingresado</th>
                                    <th>Pendiente</th>
                                    <th>UND.</th>
                                    <th>Estado</th>
                                    <th>Precio Unitario</th>
                                    <th>Precio Total</th>
                                </tr>
                            </thead>
                            <tbody>


                                @*<tr>
                                        <td>
                                            <div><strong>Admin Theme with psd project layouts</strong></div>
                                            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
                                        </td>
                                        <td>1</td>
                                        <td>$26.00</td>
                                        <td>$5.98</td>
                                        <td>$31,98</td>
                                    </tr>*@


                                @foreach (var item in Model.OrdenesCompraDetalles)
                                {
                                    <tr>
                                        <td>
                                            @if (item.EstadoOrdenDetalle.nombre != "Atendido Total")
                                            { 
                                            <input type="checkbox" class="i-checks" id=@Html.DisplayFor(modelItem => item.ordenCompradetalleId) name="input[]">
                                            }
                                        </td>
                                        <td>
                                            <div><strong>@Html.DisplayFor(modelItem => item.Material.nombre)</strong></div>
                                            <small>@Html.DisplayFor(modelItem => item.Material.UnidadMedida.nombre)</small>
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.cantidad)</td>

                                            
                                        <td>
                                        @if (item.IngresoDetalles.Count() > 0)
                                        {
                                            var sum = item.IngresoDetalles.Sum(survey => survey.cantidad);
                                            @*@Html.DisplayFor(modelItem => item.IngresoDetalles.Sum(x => x.cantidad))*@
                                            @*@Html.DisplayText(sum.ToString());*@
                                            @Html.Label(sum.ToString());
                                            @*@Html.DisplayFor(modelItem => item.IngresoDetalles.FirstOrDefault().cantidad)*@
                                            
                                        }
                                        </td>
                                        <td>
                                        @if (item.EstadoOrdenDetalle.nombre != "Atendido Total")
                                        {
                                           <input type="text" class="form-control" id="cantidadingresada" placeholder="0">
                                        }
                                        </td>

                                        <td>@Html.DisplayFor(modelItem => item.Material.UnidadMedida.nombre)</td>
                                        <td>@Html.DisplayFor(modelItem => item.EstadoOrdenDetalle.nombre)</td>
                                        <td>@Html.DisplayFor(modelItem => item.precioUnitario)</td>
                                        <td>@Html.DisplayFor(modelItem => item.precioTotal)</td>
                                    </tr>
                                }




                            </tbody>
                        </table>
                    </div><!-- /table-responsive -->

                    <table class="table invoice-total">
                        <tbody>
                            <tr>
                                <td><strong>Sub Total :</strong></td>
                                <td>S/. @Html.DisplayFor(model => model.subTotal)</td>
                            </tr>
                            <tr>
                                <td><strong>IGV :</strong></td>
                                <td>S/. @Html.DisplayFor(model => model.igv)</td>
                            </tr>
                            <tr>
                                <td><strong>TOTAL :</strong></td>
                                <td>S/. @Html.DisplayFor(model => model.total)</td>
                            </tr>
                        </tbody>
                    </table>



                    <div class="well m-t">
                        <strong>Comentario</strong>
                        @Html.DisplayFor(model => model.comentario)
                    </div>
                    @* botones de Aprobación *@
                    <div class="text-right">
                        <div class="form-group">
                            @*<input type="submit" value="Aprobar!" class="btn btn-primary" />*@
                            <input value="Ingresar!" class="btn btn-primary" id="BtnAprobar" />
                        </div>
                    </div>

                    @*fin botones Aprobación*@
                </div>

            </div>






        </div>
    </div>


    @* Copiar hasta aqui para print*@


    <div class="modal inmodal" id="myModalDesaprobar" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Desaprobando Orden de Compra</h4>
                </div>
                <div class="modal-body">
                    <p>

                        <textarea rows="3" class="form-control" id="comentario"></textarea> <span class="help-block m-b-none">Agregue algún comentario o motivo a considerar durante la revisión de la Orden de Compra</span>

                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="BtnDesaprobar">Desaprobar!</button>
                </div>
            </div>
        </div>
    </div>

}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ordenCompraId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/iCheck")
    <script type="text/javascript">
        $(document).ready(function () {

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            $("#BtnAprobar").click(function () {

                var cells = [];

                $('#tablaItems tr').each(function () {
                    if ($(this).find("td:eq(0) input[type='checkbox']").is(":checked")) {
                        cells.push({

                            ordenDetalleId: $(this).find("td:eq(0) input[type='checkbox']").attr("id"),
                            cantidad: $(this).find("td:eq(4) input[type='text']").val()


                        });
                    }


                });

                //alert(cells[0].cantidad);
                var Detalles = [];

                for (var i = 0; i < cells.length; i++) {
                    var ordenCompraDetalle = new Object();

                    ordenCompraDetalle.ordenCompraDetalleId = cells[i].ordenDetalleId;
                    ordenCompraDetalle.cantidad = cells[i].cantidad;
                    Detalles.push(ordenCompraDetalle);

                    //alert(ordenCompraDetalle.cantidad);


                }

                var ordenCompra = new Object();

                ordenCompra.ordenCompraId = $("#ordenCompraId").val();
                ordenCompra.OrdenesCompraDetalles = Detalles;

                OrdenCompraFinal = JSON.stringify({ 'ordenCompra': ordenCompra });


                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    type: 'POST',
                    url: '@Url.Action("EnterWarehouse")',
                    data: OrdenCompraFinal,
                    success: function (data) {
                        window.location = '@Url.Action("IndexWarehouse")';
                    },
                    error: function (result) {
                        alert(result.statusText)
                        alert('No se pudo realizar la acción solicitada');

                    }
                })


        });

        });

    </script>
}