@model PissanoApp.Models.Requerimiento

@{
    ViewBag.Title = "Document";
}




<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Documento de Requerimiento</h2>
        <ol class="breadcrumb">
            @*<li>
                <a href="@Url.Action("Dashboard_1", "Dashboards")">Home</a>
            </li>
            <li>
                Other Pages
            </li>
            <li class="active">
                <strong>Invoice</strong>
            </li>*@
        </ol>
    </div>
    <div class="col-lg-4">
        <div class="title-action">
            @*<a href="#" class="btn btn-white"><i class="fa fa-pencil"></i> Editar </a>
            <a href="#" class="btn btn-white"><i class="fa fa-check "></i> Guardar </a>*@
            @*<a href="~/Requerimiento/DocumentPrint/@Html.DisplayFor(model => model.requerimientoId)" target="_blank" class="btn btn-primary"><i class="fa fa-print"></i> Imprimir </a>*@
            
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">

        @* Copiar desde aqui para print*@
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox-content p-xl">
                <div class="row">
                    <div class="col-sm-6">
                        @*<h5>From:</h5>*@
                        <address>

                            <strong>@Html.DisplayFor(model => model.Obra.nombre)</strong><br>
                            Tipo de Compra: @Html.DisplayFor(model => model.TipoCompra.nombre)<br>
                            Prioridad: @Html.DisplayFor(model => model.Prioridad.nombre)<br>
                            Plazo de Atención (días): @Html.DisplayFor(model => model.Prioridad.plazoDias)<br>

                        </address>
                        <span><strong>Fecha Emisión:</strong> @Html.DisplayFor(model => model.fecha)</span><br />
                    </div>
                    <div class="col-sm-6 text-right">
                        <h4>No. de Requerimiento</h4>
                        <h4 class="text-navy">@Html.DisplayFor(model => model.requerimientoId)</h4>
                        
                    </div>
                    
                </div>
                @* Se borró bloque de código con respecto a Documento OC *@

                <div class="table-responsive m-t">
                    <table class="table invoice-table">
                        <thead>
                            <tr>
                                <th>Lista de Items</th>
                                <th>Cantidad</th>
                                <th>UND.</th>
                                <th>Estado Req.</th>
                                <th>OC</th>
                                <th>Estado OC</th>
                                <th>Partida</th>
                                <th>SubPresupuesto</th>
                            </tr>
                        </thead>
                        <tbody>


                            @*<tr>
                                <td>
                                    <div><strong>Admin Theme with psd project layouts</strong></div>
                                    <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
                                </td>
                                <td>1</td>
                                <td>$26.00</td>
                                <td>$5.98</td>
                                <td>$31,98</td>
                            </tr>*@


                            @foreach (var item in Model.Detalles)
                            {
                                <tr>
                                    <td>
                                        <div><strong>@Html.DisplayFor(modelItem => item.Material.nombre)</strong></div>
                                        <small>@Html.DisplayFor(modelItem => item.Material.UnidadMedida.nombre)</small>
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.cantidad)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Material.UnidadMedida.nombre)</td>
                                    <td>@Html.DisplayFor(modelItem => item.EstadoRequerimientoDetalle.nombre)</td>
                                    <td>@Html.DisplayFor(modelItem => item.OrdenCompra.numero)</td>
                                    <td>@Html.DisplayFor(modelItem => item.OrdenCompra.EstadoOrden.nombre)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Partida.nombre)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Partida.SubPresupuesto.nombre)</td>
                                </tr>
                            }


                           

                        </tbody>
                    </table>
                </div><!-- /table-responsive -->


                <div class="well m-t">
                    <strong>Comentario</strong>
                    @Html.DisplayFor(model => model.comentario)
                </div>


            </div>
        </div>

    </div>
</div>

@* Copiar hasta aqui para print*@


<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.requerimientoId }) |*@
    @*@Html.ActionLink("Back to List", "Index")*@
    @*<a href="~/RequerimientoViewModel/Index/1"> Volver atrás </a>*@
</p>
