@model PissanoApp.ViewModels.RequerimientoViewModel

@{
    ViewBag.Title = "Index";
}

@Html.HiddenFor(model => model.TipoCompra.tipoCompraId)


<h2>Requerimientos de Compra</h2>



<p>
    @*<a href="@Url.Action("RequerimientoViewModel/1", "RequerimientoViewModel")" class="btn btn-w-m btn-primary">Nuevo Requerimiento de Materiales</a>*@
    <a href="~/RequerimientoViewModel/Create/@Html.DisplayFor(model => model.TipoCompra.tipoCompraId)" class="btn btn-w-m btn-primary"> Nuevo Requerimiento </a>
</p>

@*<p>
    <a href="@Url.Action("Create/2", "RequerimientoViewModel")" class="btn btn-w-m btn-primary">Nuevo Requerimiento de SubContratos</a>
</p>*@

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Requerimientos de compra. Use el Filtro de Búsqueda</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>

                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover dataTables-example" id="tableRequerimientos">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Obra</th>
                                <th>Fecha</th>
                                <th>Prioridad</th>
                                <th>Creado por</th>
                                <th>Items</th>
                                <th>Tipo de Compra</th>
                                @*<th>Orden Compra</th>*@
                                <th>Estado</th>
                                <th></th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.Requerimientos)
                            {

                                <tr class="gradeX">
                                    <td>@Html.DisplayFor(modelItem => item.requerimientoId)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Obra.nombre)</td>
                                    <td>@Html.DisplayFor(modelItem => item.fechaCreacion)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Prioridad.nombre)</td>
                                    <td>@Html.DisplayFor(modelItem => item.usuarioCreacion)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Detalles.Count)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TipoCompra.nombre)</td>

                                    @*@if (item.ordenGenerada == false)
                                    { 
                                    <td class="client-status"><span class="label label-warning">En espera</span></td>
                                    }
                                    else
                                    { 
                                        <td class="client-status">
                                            <a href="/OrdenCompra/Document/@Html.DisplayFor(modelItem => item.OrdenCompras[0].ordenCompraId)" class="label label-primary">@Html.DisplayFor(modelItem => item.OrdenCompras[0].numero) </a>
                                        </td>     
                                                                      
                                    }*@

                                    @if (item.EstadoRequerimiento.nombre == "Pendiente Aprobación")
                                    {
                                        <td class="client-status"><span class="label label-danger">@Html.DisplayFor(modelItem => item.EstadoRequerimiento.nombre)</span></td>
                                    }
                                    else if (item.EstadoRequerimiento.nombre == "Aprobado Total")
                                    {
                                        <td class="client-status"><span class="label label-primary">@Html.DisplayFor(modelItem => item.EstadoRequerimiento.nombre)</span></td>
                                    }
                                    else { 
                                        <td class="client-status"><span class="label label-warning">@Html.DisplayFor(modelItem => item.EstadoRequerimiento.nombre)</span></td>
                                        @*if (item.OrdenCompras[0].estadoOrdenId == 1)
                                        {
                                            <td class="client-status"><span class="label label-danger">@Html.DisplayFor(modelItem => item.EstadoRequerimiento.nombre)</span> </td>
                                        
                                        
                                        }
                                        else
                                            {                      
                                            <td class="client-status"><span class="label label-primary">@Html.DisplayFor(modelItem => item.OrdenCompras[0].EstadoOrden.nombre)</span></td>
                                            }*@
                                    }
                                    <td class="project-actions">
                                        <a href="~/Requerimiento/Document/@Html.DisplayFor(modelItem => item.requerimientoId)" class="btn btn-white btn-sm"><i class="fa fa-print"></i> Imprimir </a>
                                    </td>

                                        <td>

                                            @*@Html.ActionLink("Editar", "Edit", new { id = item.requerimientoId }) |
                                            @Html.ActionLink("Detalles", "Details", new { id = item.requerimientoId }) |*@
                                            
                                            @if (item.EstadoRequerimiento.nombre == "Pendiente Aprobación" || item.EstadoRequerimiento.nombre == "Aprobado Parcial")
                                                {
                                                    <a href="~/RequerimientoViewModel/Edit/@Html.DisplayFor(modelItem => item.requerimientoId)"> Modificar </a>
                                                     @*@Html.ActionLink("Eliminar", "Delete", new { id = item.requerimientoId })*@
                                                }
                                    </td>

                                </tr>
                            }



                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Obra</th>
                                <th>Fecha</th>
                                <th>Prioridad</th>
                                <th>Creado por</th>
                                <th>Items</th>
                                <th>Tipo de Compra</th>
                                @*<th>Orden Compra</th>*@
                                <th>Estado</th>
                                <th></th>
                                <th></th>
     

                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>

@section Styles {
  
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {

    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/jeditable")

<script type="text/javascript">
    $(document).ready(function () {



        $('.dataTables-example').DataTable({
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                { extend: 'copy' },
                { extend: 'csv' },
                { extend: 'excel', title: 'ExampleFile' },
                { extend: 'pdf', title: 'ExampleFile' },

                {
                    extend: 'print',
                    customize: function (win) {
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                    }
                }
            ],

             "order": [[0, "desc"]]

        });




    });

</script>



    }


